
ion-card {
  margin: 0;
  box-shadow: none;
  border-radius: unset;

}

ion-card-content {
  padding: 5px 20px;
}

ion-card-header {
  padding: 5px 20px;
}



img {
  width: 100%;
}

div.social {
  // text-align: center;
  font-size: 24px;
  padding: 5px 20px;
}