div.header {
  position: relative;
  padding: 15px;
  background-color: var(--ion-color-primary);
  color: white;
  text-align: center;

  p {
    color: white;
  }

  ion-icon.star {
    font-size: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: gold;
    padding: 10px;
  }
}

.description {
  padding: 16px 12px;
}